.footer_style {
    display: flex;
    align-items: center;
    position: initial;
    justify-content: space-between;
    padding: 20px;
    top: 0;
    z-index: 100;
    background-color: antiquewhite;

}


@media (min-width: 950px) {
  
  .footer_style {

    justify-content: center ;
    padding: 10px;
    
  }

  .footer_style p {
      padding: 10px;
  }
}