.header_logo {
    height: 80px;
}



.header_left p {
    font-weight: bolder;
    color: gray;
    margin-top: 28px;
    font-size: 15px;
}



.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #99d4dd;

}

.header_left {
    display: flex;
}

 .user_name {
    color: gray;
    font-weight: bolder;   
    font-size: 40px;
    
}

.header_icon {
    color: gray;
    font-weight: bolder;
}


/* #e58372 */

