/* @import "https://sdaproject.se/training-wheels.css"; */


.inline {
  display: inline-block;
  /* margin: 20px 0px 10px 60px ; */
  margin-bottom: 15px;
  margin-top: 20px;
  height:270px;
  width:260px;
  border-radius: 30px;
  background:
  linear-gradient(-135deg, antiquewhite 5px, transparent 0) 0 5px,
  linear-gradient(135deg, antiquewhite 5px, lightgray 0) 0 5px;
  background-color: antiquewhite;
  background-position: left bottom;   
  background-repeat: repeat-x;
  background-size: 10px 10px;
  
}


.inline p {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 8px 4px 6px 15px;
  
  
 
}

.inline:hover {
   background-color: rgb(238, 224, 206);
    cursor: pointer;
}






